@page
@model Music_Streaming_database.Pages.Forms.actionListModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome to music company name</h1>
    <p>Choose an action below to get started</p>

    <div class="border-dark">
        <p><a class="nav-link text-dark" asp-area="" asp-page="/Forms/playPlaylist">Play a playlist</a></p>
        <p><a class="nav-link text-dark" asp-area="" asp-page="/Forms/viewPlaylist">View and manage a playlist</a></p>
        <p><a class="nav-link text-dark" asp-area="" asp-page="/Forms/addPlaylist">Create a playlist</a></p>
        <p><a class="nav-link text-dark" asp-area="" asp-page="/Forms/removePlaylist">Delete a playlist</a></p>
        <p><a class="nav-link text-dark" asp-area="" asp-page="/Forms/searchArtist">Search for artists</a></p>
        <p><a class="nav-link text-dark" asp-area="" asp-page="/Forms/searchSong">Search songs and add song to playlist</a></p>
    </div>
</div>
