@page
@model Music_Streaming_database.Pages.Forms.searchSongModel
@{
}

<div class="text-center container">
    <h1> Search for a song </h1>
    <h6> Enter 'all' to see all songs</h6>
    <form method="post">
        <input type="text" asp-for="songName" placeholder="Name" />
        <button class="btn btn-primary mt-1" type="submit">Search</button>
    </form>
    <a class="nav-link text-dark" asp-area="" asp-page="/Forms/actionList">Back</a>
</div>