@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to music company name</h1>
    <p>Click below to get started</p>
    <p><a class="nav-link text-dark" asp-area="" asp-page="Login/enterLogin">LOGIN</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-page="Login/createLogin">Create a LOGIN</a></p>
</div>